<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Meerkat</title>

</head>
<body>
   <script>
      function on_submit() {
         var x = document.forms["pushform"]["note"].value;
         if (x == "") {
            alert("A note must have writing.");
            return false;
         }
      }
   </script>

   <h3>Meerkat</h3>
   <% if(!loginpage){ %>
      <form name = "logoutform" action="/" method="POST">
      Connected as <%- username %>. <input name="logoutbutton" type="submit" value="logout"></input>
      </form>
      <form name = "pushform" action="/" onsubmit="return on_submit()" method="POST">
      <input name="note" type="text" value=""></input> <br>
      <input name="membutton" type="submit" value="Remember"></input>
   </form> 
      <% notes.forEach(function(note) { %>
         <br><div class="memory"><div class="date"><%- note.date %></div><%- note.text %></div>
      <% }); %>
   <% } else { %>
   <form name = "loginform" action="/" method="POST">
      <input name="username" type="text" value=""></input><br>
      <input name="pwd" type="password" value=""></input><br>
      <table>
         <tr>
            <td><input name="loginbutton" type="submit" value="Login"></input></td>
            <td><input name="newuserbutton" type="submit" value="New user"></input></td>
         </tr>
      </table>
   </form>
   <% } %>
</body>
<link rel="stylesheet" href="css/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</html>